body{
    background-color: #212529;
    font-weight: 500;
}

.bg-custom{
    background-color: #2b3035;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

.font-bold{
    font-weight: 500;
}